<h1>Question</h1>
<%= form_for Question.new do |f| %>
  <%= f.label :text, 'Ask something' %>
  <%= f.text_field :text %>
  <%= f.submit %>
<% end %>
  
<% if @question %>
<p>
  <strong>You asked:</strong>
  <%= @text %>
</p>

<p>
  <strong>Criteria found:</strong>
  <%= @criteria.to_sentence %>

<p>Matching sites</p>
  <% unless @source_pages.present? %>
    <p>There are no keywords in the text you've entered.</p>
  <% else %>

    <% @source_pages.each do |source_page| %>
      <p><%= link_to source_page.url, source_page %></p>
    <% end %>

  <% end %>
    
<% end %>