<h1>Question</h1>
<%= form_for Question.new do |f| %>
  <%= f.label :text, 'Ask something' %>
  <%= f.text_field :text %>
  <%= f.submit %>
<% end %>
  
<% if @question %>
<p>
  <strong>You asked:</strong>
  <%= @text %>
</p>

<p>
  <strong>Criteria found:</strong>
  <%= @criteria.to_sentence %>

<h2>Matching sites using keywords in page</h2>
  <% unless @source_pages.present? %>
    <p>There are no pages matching the text you've entered.</p>
  <% else %>

    <% @source_pages.each do |source_page| %>
      <p><%= link_to source_page.url, source_page %></p>
    <% end %>

  <% end %>

<h2>Matching sites using Ferret Search</h2>
  <% unless @search.present? %>
    <p>There are no pages matching the text you've entered.</p>
  <% else %>

    <% @search.each do |source_page, score| %>
      <p><%= link_to source_page.url, source_page %> <%= score %></p>
    <% end %>

  <% end %>
      
<h2>Matching sites using Fuzzy Search</h2>
  <% unless @fuzzy_search.present? %>
    <p>There are no pages matching the text you've entered.</p>
  <% else %>
    <p>Using fuzzy words: <%= @fuzzy_words.to_sentence %></p>
    <% @fuzzy_search.each do |source_page, score| %>
      <p><%= link_to source_page.url, source_page %> <%= score %></p>
    <% end %>

  <% end %>      
      
<% end %>
        