<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= link_to @source_page.url, @source_page.url, target: '_blank' %>
</p>

<p>Keywords</p>
<ul>
  <% @source_page.keywords.each do |keyword| %>
  <li>
    <strong><%= keyword.text %></strong>
    <%= keyword.relevance %>
  </li>
  <% end %>
</ul>

<p>Content</p>
<div class="content">
  <%= @source_page.content %>
</div>

<%= link_to 'Edit', edit_source_page_path(@source_page) %> |
<%= link_to 'Back', source_pages_path %>
