<!DOCTYPE html>
<html>
<head>
  <title>WhichPage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navigation">
  <ul>
    <li><%= link_to_unless_current('Home', root_path) %></li>
    <li><%= link_to_unless_current('Source Pages', source_pages_path) %></li>
    <li><%= link_to_unless_current('Keywords', keywords_path) %></li>
    <li><%= link_to 'which_people', 'https://github.com/reggieb/which_page', target: '_blank' %></li>
    <li><%= link_to 'Alchemy API', 'https://github.com/alchemyapi/alchemyapi_ruby' %></li>
  </ul>
</div>
  
<%= yield %>

</body>
</html>
